{% extends 'partials/base.html' %}
{% block title %}order page{% endblock %}

{% block content %}

{%include 'partials/topnaves.html'%}

<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <!-- <th scope="col">Odered by</th> -->
                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.name.category }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ order.customer.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock  %}

