{% extends 'partials/base.html' %}
{% block title %}Delete page{% endblock %}

{% block content %}
<div class="container">
    <div class="row  mt-5">
        <div class="col-md-6 offset-md-6">
            <div class="border bg-white p-3">
                
                <h3>Edit items</h3>
                <hr>
                <form  method="POST">
                    {% csrf_token %}
                    {{  form  }}

                    <input class="btn btn-info" type="submit" value="Update">
                    <a class="btn btn-secondary" href="{% url 'dashboard-product' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}